@model JeudanMadbestilling.Models.ViewModels.MadmenuBestillingVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit mb</h1>

<h4>Madbestillings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Madbestillings.MadbestillingId" />
            <div class="form-group">
                <label asp-for="Madbestillings.MenuId" class="control-label"></label>
                <select asp-for="Madbestillings.MenuId" class="form-control" asp-items="Model.MenuselectList"></select>
                <span asp-validation-for="Madbestillings.MenuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madbestillings.MenuDato" class="control-label"></label>
                <input asp-for="Madbestillings.MenuDato" class="form-control" />
                <span asp-validation-for="Madbestillings.MenuDato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madbestillings.MenuTekst" class="control-label"></label>
                <input asp-for="Madbestillings.MenuTekst" class="form-control" />
                <span asp-validation-for="Madbestillings.MenuTekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madbestillings.AntalBestillinger" class="control-label"></label>
                <input asp-for="Madbestillings.AntalBestillinger" class="form-control" />
                <span asp-validation-for="Madbestillings.AntalBestillinger" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madbestillings.BestilingsType" class="control-label"></label>
                <input asp-for="Madbestillings.BestilingsType" class="form-control" />
                <span asp-validation-for="Madbestillings.BestilingsType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madbestillings.BestillingsDateTime" class="control-label"></label>
                <input asp-for="Madbestillings.BestillingsDateTime" class="form-control" />
                <span asp-validation-for="Madbestillings.BestillingsDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madbestillings.Bruger" class="control-label"></label>
                <input asp-for="Madbestillings.Bruger" class="form-control" />
                <span asp-validation-for="Madbestillings.Bruger" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
